*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}

body{
    text-align: center;
    background-color: #febf63;
    margin: 60px;

}

input{
    width: 250px;
    margin: 10px;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: green;
}

.rules{
    margin-top: 150px;
}
